html, body {
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

body {
  color: #cdd6f4;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
